# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

#ide
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#vscode settings
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Node dependencies
node_modules

# Logs
logs
*.log

# .eslintcache

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example


